---
## Hypothesis Testing - ChiSquare test <br> <font size=3.4> Dataset:LabTAT.csv<br><font size=2>Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.
---

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import scipy.stats as stats
import pylab

In [3]:
FL = pd.read_csv('/Users/Ketan/Data Science/Assignments/Hypothesis Testing/Fantaloons.csv')

In [4]:
FL

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [5]:
FL.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [6]:
FL.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [7]:
fl = pd.DataFrame(index=['Female','Male'],
                  data={'Weekdays':[287,113],'Weekend':[233,167]})

In [8]:
fl

        Weekdays  Weekend
Female       287      233
Male         113      167

In [9]:
from scipy.stats import chi2_contingency

In [10]:
#Ho=  % of males versus females walking in to the store doesn't differ based on day of the week
#Ha=  % of males versus females walking in to the store differ based on day of the week

In [11]:
chi2_stat, p_val, dof, ex =stats.chi2_contingency(fl) 

print("===Chi2 Stat===")
print(chi2_stat)
print("\n")
print("===Degrees of Freedom===")
print(dof)
print("\n")
print("===P-Value===")
print(p_val)
print("\n")
print("===Contingency Table===")
print(ex)

===Chi2 Stat===
15.434065934065934


===Degrees of Freedom===
1


===P-Value===
8.54342267020237e-05


===Contingency Table===
[[260. 260.]
 [140. 140.]]

In [12]:
#Since p-value (0.8534e-05)<alpha (0.05), hence we have to reject the null hypothesis
#Conclusion: Proportions of Male and Female are not same.